<% include ../partials/header %>

<div class="jumbotron">
    <header class="jumbotron">
        <div class="container">
            <center>
                <h1><span class="glyphicon glyphicon-eye-open" aria-hidden="true" ></span></h1>
                <h2>Train your Neural Network right here, right now.</h2>

            <p>Welcome to NEUSUAL</p>
                
            <!-- <a class="btn btn-primary btn-lg" href="/neusualhome/new">Train New Models</a> -->
            <a class="btn btn-primary btn-lg" href="/neusualhome/new">Train New Models</a>
        </div>
    </header>
    <div class = "container">
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% neusualnetworks.forEach(function(neunet){ %>
           <div class="col-md-4 col-sm-6">
               <div class="thumbnail">
                   <img src="<%= neunet.image %>">
               <div class="caption">
                   <h4> <%= neunet.name %> </h4>
               </div>
               <p>
                   <a href="/neusualhome/<%= neunet._id %>" class="btn btn-primary">More Info</a>
               </p>
               </div>
           </div>
        <% }); %>
    </div>
    </div>
</div>

<% include ../partials/footer %>